<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-assessment-heading">Create or edit a Assessment</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_applicationName">Application Name</label>
                    <input type="text" class="form-control" name="applicationName" id="field_applicationName"
                           formControlName="applicationName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_assetOwner">Asset Owner</label>
                    <input type="text" class="form-control" name="assetOwner" id="field_assetOwner"
                           formControlName="assetOwner"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_techDivisionManager">Tech Division Manager</label>
                    <input type="text" class="form-control" name="techDivisionManager" id="field_techDivisionManager"
                           formControlName="techDivisionManager"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_applicationVersion">Application Version</label>
                    <input type="text" class="form-control" name="applicationVersion" id="field_applicationVersion"
                           formControlName="applicationVersion"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="DRAFT">DRAFT</option>
                        <option value="VALIDATE">VALIDATE</option>
                        <option value="IN_PROGRESS">IN_PROGRESS</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastModification">Last Modification</label>
                    <div class="input-group">
                        <input id="field_lastModification" type="text" class="form-control" name="lastModification" ngbDatepicker  #lastModificationDp="ngbDatepicker" formControlName="lastModification"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="lastModificationDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_information">Information</label>
                    <input type="text" class="form-control" name="information" id="field_information"
                           formControlName="information"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_assessmentResponse">Assessment Response</label>
                    <select class="form-control" id="field_assessmentResponse" name="assessmentResponse" formControlName="assessmentResponse">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="assessmentResponseOption.id === editForm.get('assessmentResponse').value?.id ? editForm.get('assessmentResponse').value : assessmentResponseOption" *ngFor="let assessmentResponseOption of assessmentresponses; trackBy: trackAssessmentResponseById">{{assessmentResponseOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
