<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="assessmentResponse">
            <h2><span>Assessment Response</span> {{assessmentResponse.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Na</span></dt>
                <dd>
                    <span>{{assessmentResponse.na}}</span>
                </dd>
                <dt><span>Comment</span></dt>
                <dd>
                    <span>{{assessmentResponse.comment}}</span>
                </dd>
                <dt><span>Annotation</span></dt>
                <dd>
                    <div *ngIf="assessmentResponse.annotation">
                        <a [routerLink]="['/annotation', assessmentResponse.annotation?.id, 'view']">{{assessmentResponse.annotation?.id}}</a>
                    </div>
                </dd>
                <dt><span>Option</span></dt>
                <dd>
                    <div *ngIf="assessmentResponse.option">
                        <a [routerLink]="['/option', assessmentResponse.option?.id, 'view']">{{assessmentResponse.option?.id}}</a>
                    </div>
                </dd>
                <dt><span>Question</span></dt>
                <dd>
                    <div *ngIf="assessmentResponse.question">
                        <a [routerLink]="['/question', assessmentResponse.question?.id, 'view']">{{assessmentResponse.question?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/assessment-response', assessmentResponse.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
