<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-assessment-response-heading">Create or edit a Assessment Response</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_na">Na</label>
                    <input type="checkbox" class="form-control" name="na" id="field_na"
                           formControlName="na"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_comment">Comment</label>
                    <input type="text" class="form-control" name="comment" id="field_comment"
                           formControlName="comment"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_response">Response</label>
                    <select class="form-control" id="field_response" name="response" formControlName="response">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="optionOption.id === editForm.get('response').value?.id ? editForm.get('response').value : optionOption" *ngFor="let optionOption of responses; trackBy: trackOptionById">{{optionOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_reponse">Reponse</label>
                    <select class="form-control" id="field_reponse" name="reponse" formControlName="reponse">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="questionOption.id === editForm.get('reponse').value?.id ? editForm.get('reponse').value : questionOption" *ngFor="let questionOption of reponses; trackBy: trackQuestionById">{{questionOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
